body {
    background-color: #ddd;
}

#layout_layout_panel_top .w2ui-panel-content {
    overflow: hidden !important;
}

.w2ui-form .w2ui-page {
    overflow-x: hidden;
    overflow-y: auto;
}

.w2ui-layout > div .w2ui-panel .w2ui-panel-content {
    background-color: #fff;
}