<?xml version="1.0" encoding="UTF-8"?>
<config>
    <system>
        <module>Admin</module>
        <module>Main</module>
        <acl>
            <enabled>false</enabled>
        </acl>
        <router>
            <error>
                <cod>404</cod>
                <controller>Admin\Controller\Index</controller>
                <action>error404</action>
            </error>
            <error>
                <cod>304</cod>
                <controller>Admin\Controller\Index</controller>
                <action>error404</action>
            </error>
            <error>
                <cod>400</cod>
                <controller>Admin\Controller\Index</controller>
                <action>errorDefault</action>
            </error>
            <error>
                <cod>7</cod>
                <controller>Admin\Controller\Index</controller>
                <action>errorDefault</action>
            </error>
            <error>
                <cod>333</cod>
                <controller>Admin\Controller\Index</controller>
                <action>errorDefault</action>
            </error>
            <default>/admin/index/index</default>
            <defaultAuth>/admin/auth/login</defaultAuth>
        </router>
        <auth>
            <gravatar>false</gravatar>
        </auth>
        <view>
            <theme>fsk</theme>
            <layout>layout.phtml</layout>
            <datagrid>
                <rowsPerPage>15</rowsPerPage>
            </datagrid>
        </view>
        <db>
            <type>pgsql</type>
            <dsn>pgsql:dbname=kf;host=localhost</dsn>
            <username>postgres</username>
            <password>postgres</password>
        </db>
    </system>
</config>