<?xml version="1.0" encoding="UTF-8"?>
<config>
    <system>
        <module>Admin</module>
        <module>Main</module>
        <acl>
            <enabled>1</enabled>
            <ignore>
                <controller>Admin\Controller\IndexController</controller>
                <action>autenticar</action>
            </ignore>
            <ignore>
                <controller>Admin\Controller\IndexController</controller>
                <action>sair</action>
            </ignore>
        </acl>
        <router>
            <error>
                <cod>404</cod>
                <controller>Admin\Controller\IndexController</controller>
                <action>error404</action>
            </error>
            <error>
                <cod>304</cod>
                <controller>Admin\Controller\IndexController</controller>
                <action>error404</action>
            </error>
            <error>
                <cod>400</cod>
                <controller>Admin\Controller\IndexController</controller>
                <action>errorDefault</action>
            </error>
            <error>
                <cod>7</cod>
                <controller>Admin\Controller\IndexController</controller>
                <action>errorDefault</action>
            </error>
            <error>
                <cod>333</cod>
                <controller>Admin\Controller\IndexController</controller>
                <action>errorDefault</action>
            </error>
            <default>/admin/index/index</default>
            <defaultAuth>/admin/index/autenticacao</defaultAuth>
        </router>
        <auth>
            <gravatar>false</gravatar>
        </auth>
        <view>
            <theme>fsk</theme>
            <layout>layout.phtml</layout>
            <datagrid>
                <rowsPerPage>15</rowsPerPage>
            </datagrid>
            <format>
                <date>m/d/Y</date>
                <datetime>m/d/Y h:i:s</datetime>
            </format>
        </view>
        <db>
            <host>127.0.0.1</host>
            <driver>pdo_pgsql</driver>
            <port>5432</port>
            <user>postgres</user>
            <password>postgres</password>
            <dbname>fuska</dbname>
        </db>
    </system>
</config>